h1 {
  color: #931414;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fffefe;
}
p {
  color: #562697;
  font-family: "Courier New", Courier, monospace;
  font: size 15px;
  text-align: justify;
}
